<!DOCTYPE html>

<html>

    <head>
        <title> about </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <div>
            {{>header}}
            <p>This website was created by Robbens. it uses data from mapbox and openweathermap</p>
            <img class ="portrait" src="/img/leo.jpg">
        </div>

        {{>footer}}

    </body>


</html>